*{
    font-family: "Poppins", sans-serif;
    color: white;
}

body{
    background-color: rgb(64, 39, 39);
    min-height: 100vh;
    margin: 0;
}

/*navbar starts*/
.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(34,34,34,0.25);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.nav-left{
    display: flex;
}

.logo{
    border-radius: 50%;
    margin: 0 1rem;
}
.nav-name{
    font-size: 20px;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.nav-right-container{
    margin-left: auto;
}
.nav-items-container{
    display: flex;
    flex-wrap: wrap;
}

.nav-items{
    margin: 1rem;
    list-style-type: none;
}

.nav-items-links{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

.nav-items-links:hover{
    color: #0ba0b0;
}

/*container*/
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:576px){
    .container{
        max-width: 540px;
    }
}

@media(min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px;
    }
}
@media (max-width:873px) {
    .navbar-container {
        display: block;
    }

    .nav-items-container {
        padding: 0;
    }
}

@media(min-width:992px) {
    .navbar {
        background-color: rgba(34,34,34,0.25);
    }
}
/*hero section*/
.hero-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
}

.hero-image{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    border: 2px dotted rgb(236, 12, 12);
}
.hero-left,.hero-right{
    width: 100%;
}

@media(min-width:992px) {
    .hero-left {
        width: 40%;
    }
    .hero-right{
        width: 60%;
    }
}
.title{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
}

.description{
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 2rem;
    text-align: justify;
}
/*responsive*/
@media (max-width:873px) {
    .navbar-container{
       display: block;
    }
    .nav-items-container{
        padding: 0;
    }

}

/*resume section*/

.resume-container,
.certificates-container,
.skills-container,
.portfolio-container,
.contact-container {
    margin-top: 1rem;
    padding: 6.5rem 1rem 0 1rem;
    min-height: 100vh;
}

.subtitle {
    font-size: 1.25rem;
    line-height: 1.6rem;
    margin-bottom: 0;
}

.subtitle-container>.subtitle,
.subtitle-container>.line {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.line {
    background-color: #333;
    width: 100px;
    height: 2px;
    margin: 0.25rem 0 2rem 0;
}

.inner-line {
    background-color: rgb(59 130 246);
    width: 30px;
    height: 2px;
}

.resume-sub-container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
}

.resume-list {
    position: relative;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid: 1.25rem;
    align-items: center;
    border-left: 1px solid #333;
}

.resume-duration-container {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    /* justify-content: space-between; */
}

.round-div {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: #222;
    position: absolute;
    left: -12.5px;
}

.resume-duration {
    background-color: black;
    /* width: 150px; */
    width: auto;
    border-radius: 1.5rem;
    margin: 1rem 0;
    padding: 0.5rem 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.resume-company {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    padding-right: 15px;
}

.resume-designation {
    color: grey;
    font-size: 1.5rem;
    line-height: 1.25rem;
    margin: 0;
}


/*skills section*/
.skills-sub-container{
    display: grid;
}

.skills-subtitle{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
}